<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam 账户共享实验</title>
    <link rel="shortcut icon" href="../static/favicon.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="steam-logo-wrapper captcha-width">
        <img class="steam-logo" src="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016">
    </div>
    <div class="flip-container centered">
        <div id="space-semantic">
            <div id="embed-wrapper" class="captcha_wrapper">
                <h2 class="cpatcha-title">请完成人机验证</h2>
                <div id="captcha-element"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://o.alicdn.com/captcha-frontend/aliyunCaptcha/AliyunCaptcha.js"></script>
    <script type="text/javascript" src="/static/captcha.js"></script>
</body>
</html>